table {
	width: 620px;
	height: 620px;
	position:absolute;
	top:50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -300px;
	border: solid 10px #fff;
	background-color: rgb(0,255,255);
	border-spacing: 0px;
}
table td {
	border: solid 10px #606060;
	text-align: center;
	width: 170px;
	height: 170px;
	font-size: 75px;
  	font-family: "Comic Sans", Comic Sans MS, cursive;
  	color: #ff0000;			
}